# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
benchmarks/
charts/
components/
docs/
examples/
manifests/
proposals/
test/
tmp/