site_name: KubeAI
site_url: https://www.kubeai.org
repo_url: https://github.com/substratusai/kubeai

theme:
  name: material
  palette:
    primary: white # Defaults to indigo.
    accent: blue # Defaults to indigo.

nav:
  - Home: README.md
  - ... | installation/*.md
  - ... | how-to/*.md
  - ... | concepts/*.md
  - ... | tutorials/*.md
  - ... | contributing/*.md
  - ... | reference/*.md
  - ...
plugins:
    - search
    - awesome-pages
    - blog
    - social
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
