apiVersion: v2
name: kubeai
description: Private Open AI Platform for Kubernetes.

type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.12.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "v0.14.0"

dependencies:
  # Open Web UI is an open source ChatGPT-like user interface.
  # https://docs.openwebui.com/
  - name: open-webui
    condition: open-webui.enabled
    repository: https://helm.openwebui.com/
    version: 5.4.0

keywords: ["LLM", "AI"]

# TODO replace with kubeai.org once live
home: https://www.substratus.ai

maintainers:
- name: nstogner
  url: https://www.linkedin.com/in/nstogner/
- name: samos123
  email: sammiestoel@gmail.com
  url: https://www.linkedin.com/in/samstoelinga/
