apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: lingo
  namespace: default
rules:
  - apiGroups:
      - apps
    resources:
      - deployments
      - deployments/scale
    verbs: ["get", "list", "watch", "create", "delete", "update", "patch"]
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs: ["get", "list", "watch", "create", "delete", "update", "patch"]
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs: ["get", "list", "watch", "create", "delete", "update", "patch"]
  - apiGroups:
      - ""
    resources:
      - events
    verbs: ["create", "patch"]
  - apiGroups:
      - ""
    resources:
      - pods
    verbs: ["get", "list", "watch"]

